/* RESPONSIVO */

/*NAVBAR*/
@media screen and (max-width: 1300px){
    .openbtn {
        display: block;
    }
    .navlist {
        display: none;
    }
    .nav-right {
        display: none;
    }
}

/* SECTION HOME */
@media screen and (max-width: 890px){
    .home-text{
        & h1{
            font-size: 3.0rem;
        }
    
        & h6{
            font-size: 12px;
        }
    
        & p{
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 375px){
    .home-text{
        & h1{
            font-size: 12vw;
        }
    
        & h6{
            font-size: 4vw;
        }
    
        & p{
            font-size: 4vw;
        }
    }
}

/* SECTION PRODUTOS */
@media screen and (max-width: 768px) {
    .n-conteudo {
        grid-template-columns: 1fr; 
    }
}

@media screen and (max-width: 437px){
    .row-in{
        flex-direction: column;
        align-items: flex-start;
    }
}

/* SECTION NEWSLETTER */
@media screen and (max-width: 1280px){
    .newsletter-conteudo {
        grid-template-columns: 1fr; 
        padding: 30px; 
    }
}

@media screen and (max-width: 790px){
    .newsletter-conteudo form{
        grid-template-columns: 1fr;
        & .btnnn{
            padding: 10px;
        }
    }
}

/* FOOTER */
@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr; 
        justify-content: center;
    }

    .footer-box {
        text-align: center; 
        margin-bottom: 2rem; 
    }
}