@media screen and (max-width: 1300px){
    .openbtn {
        display: block;
    }
    .navlist {
        display: none;
    }
    .nav-right {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    section{
        padding: 90px 4% 70px;
    }

    .footer {
        grid-template-columns: 1fr; 
        justify-content: center;
    }

    .footer-box {
        text-align: center; 
        margin-bottom: 2rem; 
    }

    .section-product{
        display: flex;
        flex-direction: column;
    }
    
    .single-item-image{
        width: 100%;
        margin-right: 0;
    }

    .single-item-details{
        width: 100%;
    }

    .n-produtos .text-n-produtos{

        & h2{
            font-size: 20px;
        }

        & p{
            font-size: 16px;
        }
    }
}