/* RESPONSIVO */

/*NAVBAR*/
@media screen and (max-width: 1300px){
    .openbtn {
        display: block;
    }
    .navlist {
        display: none;
    }
    .nav-right {
        display: none;
    }
}

/* MAIN */
/* Responsivo */
@media screen and (max-width: 768px) {
    main {
        padding: 15px;
    }

    .profile-title {
        font-size: 2rem;
    }

    .profile-item {
        font-size: 1rem;
    }

    .logout-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

/* FOOTER */
@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr; 
        justify-content: center;
    }

    .footer-box {
        text-align: center; 
        margin-bottom: 2rem; 
    }
}