/*NAVBAR*/
@media screen and (max-width: 1300px){
    .openbtn {
        display: block;
    }
    .navlist {
        display: none;
    }
    .nav-right {
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .shop-menu{
        padding: 90px 7% 70px;
    }
}

@media screen and (max-width: 810px){
    .shop-menu{
        padding: 90px 4% 70px;
    }

    .row{
        max-width: 200px;

        & h3{
           font-size: 15px; 
        }
    }

    .row-left a {
        font-weight: 400;
    }

    .row-right h6 {
        font-size: 17px;
        font-weight: 600;
        color: var(--cor-um);
    }

    .n-btn{
        text-align: left;
    }
}

/* FOOTER */
@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr; 
        justify-content: center;
    }

    .footer-box {
        text-align: center; 
        margin-bottom: 2rem; 
    }

    .shop-menu{
        flex-direction: column;
    }

    .row{
        max-width: 100%;
    }

    .n-btn{
        text-align: center;
    }
}