@charset "UTF-8";
/* Import da Font Roboto -- Tamanho 400-900 -- Normal/Italic */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    /* paleta de cores */
    --cor0: #2b9d07; /* verde mais escuro */
    --cor1: #3bb614; /* verde mais claro */
    --cor2: #333333; /* preto acinzentado */
    --cor3: #faf3dd; /* amarelo bem clarinho */
    --cor4: #d6d5d5; /* prata */
    --cor5: #f2f2f2; /* branco */

    --fonte-padrao: "Roboto", sans-serif;
    /* fonte destaque ainda não escolhida */
}