@import url(geralstye.css);

/* PÁGINA SOBRE */
    /* SECTION ABOUT */
.about{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about-text{
    padding-top: 60px;
    & h3{
        font-size: var(--h1-font);
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    & p{
        width: 100%;
        max-width: 560px;
        font-size: var(--p-font);
        font-weight: 400;
        color: var(--second-color);
        line-height: 33px;
        margin-bottom: 35px;
    }
}

    /* SECTION MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    padding: 80px 50px;
}

.main-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 50px;
    align-items: center;
}

.main-box-text {
    min-width: 460px;
    & h2 {
        font-size: var(--h2-font);
        color: var(--text-color); 
    }
    
    & p {
        font-size: var(--p-font);
        color: var(--text-color); 
        line-height: 33px;
        margin-top: 35px;
    }
}



.main-box-image img {
    width: 100%; 
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.main-box-image {
    transform: rotate(-2deg);
}

.main-box:nth-child(even) .main-box-image {
    transform: rotate(5deg);
}


 /*NOSSOS SERVIÇOS*/
 .box-low {
    text-align: center; 
}

.box-low .low-content h2 {
    margin-bottom: 20px;
}

 .box-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.service-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-template-icon {
    font-size: 48px;
    margin-bottom: 10px;
}