@import url(geralstye.css);

/* PÃGINA CONTATO */
    /* SECTION LOCALIDADE */
.localidade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;

    & .localidade-texto{
        width: 40%;

        & h6{
            font-size: 12px;
            font-weight: 500;
            color: var(--second-color);
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    
        & h1{
            font-size: 2rem;
            font-weight: 700;
            line-height: 35px;
            margin-bottom: 20px;
        }
    
        & h2{
            font: 16px;
            font-weight: 600;
            letter-spacing: 2px;
            color: #181818;
            margin-bottom: 15px;
        }
    
        & .sede-detalhes{
            display: flex;
            align-items: center;
            padding: 10px 0;
    
            & i{
                color: black;
                font-size: 14px;
                padding-right: 22px;
            }
    
            & p{
                color: #616060;
                cursor: pointer;
                font-size: 14px;
            }
        }
    }

    & .localidade-mapa{
        width: 55%;
        height: 350px;

        & iframe{
            width: 100%;
            height: 100%;
        }
    }
}

    /* SECTION EQUIPE */
.form-contato{
    display: flex;
    justify-content: space-between;
    margin: 70px 14%;
    padding: 80px;
    border: 1px solid #e1e1e1e1;

    & form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & h6{
            font-size: 12px;
            font-weight: 500;
            color: var(--second-color);
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        & h2{
            font: 16px;
            font-weight: 600;
            color: #181818;
            margin-bottom: 15px;
        }

        & input,textarea{
            width: 100%;
            padding: 12px 15px;
            outline: none;
            margin-bottom: 20px;
            border: 1px solid #e1e1e1;
        }

        & button{
            background-color: #2a892a;
            color: #fafafa;
            cursor: pointer;
            width: 100px;
            padding: 10px 0;
            border: 2px #2a892a;
            border-radius: 5px;
            font-weight: 700;
            transition: all .3s;

            &:hover{
                background-color: #fafafa;
                color: #2a892a;
                border: 2px solid #2a892a;

                & > p{
                    transform: scale(1.1);
                }
            }
        }
    }
}