<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilo -->
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/responsividade/contact-responsive.css"> <!-- Responsivo -->
    <link rel="shortcut icon" href="/imagens/favicon.png" type="image/x-icon">
    <!-- Fim Estilo -->
    <!-- Box Icons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Fim Box Icons -->
    <!-- Remix Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"/>
    <title>TechGreen</title>
    <!-- Fim Remix Icons -->
</head>
<body>
    <!-- HEADER -->
    <header>
        <a href="/home" class="logo">Tech<span>Green</span></a>

        <nav class="navlist">
            <li><a href="/home">Home</a></li>
            <li><a href="/shoppage">Comprar</a></li>
            <li><a href="/aboutpage">Sobre</a></li>
            <li><a href="/blogpage">Blog</a></li>
            <li><a href="/contactpage" class="ativo">Contato</a></li>
        </nav>

        <div class="nav-right">
            <a href="#"><i class="ri-search-line"></i></a>
            <a href="#"><i class="ri-shopping-cart-2-line"></i></a>
            <a href="/perfil"><i class="ri-user-line"></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div> <!-- Fim nav-right -->

        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/perfil">Perfil</a>
            <a href="/home">Home</a>
            <a href="/shoppage">Comprar</a>
            <a href="/aboutpage">Sobre</a></li>
            <a href="/blogpage">Blog</a>
            <a href="/contactpage">Contato</a>
        </div> <!--sidebar-->

        <button class="openbtn" onclick="openNav()">☰</button> <!--NavButton-->   
    </header>
    <main>

        <!-- Section Localidade -->
        <section class="localidade">
            <div class="localidade-texto">
                <h6>Contato</h6>
                <h1>Visite as nossas lojas ou fale conosco</h1>
                <h2>SEDE</h2>

                <!-- Detalhe localidade -->
                <div class="sede-detalhes">
                    <i class="ri-map-pin-line"></i>
                    <p>Av. Washington Soares, 1321 - Edson Queiroz, Fortaleza - CE, 60811-905</p>
                </div> <!-- Fim sede-detalhes -->

                <!-- Detalhe Email -->
                <div class="sede-detalhes">
                    <i class="ri-mail-line"></i>
                    <p>contatoexemplo@exemplo.com</p>
                </div> <!-- Fim sede-detalhes -->

                <!-- Detalhe Número -->
                <div class="sede-detalhes">
                    <i class="ri-phone-line"></i>
                    <p>+55 (85) 90000-0000</p>
                </div> <!-- Fim sede-detalhes -->

                <!-- Detalhe Horário -->
                <div class="sede-detalhes">
                    <i class="ri-time-line"></i>
                    <p>Segunda á Sábados: 8:00 as 18:00. Domingos: 9:00 as 17:00</p>
                </div> <!-- Fim sede-detalhes -->
            </div> <!-- Fim localidade-texto -->

            <div class="localidade-mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15924.730680002373!2d-38.483348952605596!3d-3.770395939254964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c745fe9c03245d%3A0xd435fd5a6bfbbe44!2sUNIFOR%20-%20Universidade%20de%20Fortaleza!5e0!3m2!1spt-BR!2sbr!4v1712419564949!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> <!-- Fim localidade-mapa -->
        </section>

        <!-- Section Contato -->
        <section class="form-contato">
            <!-- Formulário -->
            <form id="send_email" action="send_email" autocomplete="off" method="post">
                <h6>Deixe uma mensagem</h6>
                <h2>Nós amamos ouvir vocês</h2>
                <input type="" name="name" id="name" placeholder="Seu Nome">
                <input type="" name="email" id="email" placeholder="Seu E-mail">
                <input type="" name="contact" id="contact" placeholder="Insira seu contato">
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Coloque sua mensagem..."></textarea>
                <button type="submit"><p>Enviar</p></button>
            </form>
        </section>
    </main>
    <!-- FOOTER -->
    <footer>
        <section class="footer">
            <div class="footer-box">
                <h3>Sobre</h3>
                <a href="/aboutpage">Sobre Nós</a>
                <a href="#">Entrega</a>
                <a href="#">Privacidade</a>
                <a href="#">Termos</a>
            </div> <!-- Fim footer-box -->

            <div class="footer-box">
                <h3>Conta</h3>
                <a href="/perfil">Entrar</a>
                <a href="/loginpage">Cadastrar</a>
                <a href="#">Carrinho</a>
                <a href="#">Ajuda</a>
            </div> <!-- Fim footer-box -->

            <div class="footer-box">
                <h3>Resources</h3>
                <a href="/home">Início</a>
                <a href="/blogpage">Blog</a>
                <a href="/contactpage">Contato</a>
                <a href="/shoppage">Comprar</a>
            </div> <!-- Fim footer-box -->

            <div class="footer-box">
                <h3>Social</h3>
                <div class="social">
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-facebook-box-fill"></i></a>
                    <a href="#"><i class="ri-twitter-x-fill"></i></a>
                </div> <!-- Fim social -->
            </div> <!-- Fim footer-box -->
        </section> <!-- Fim footer -->

        <!-- COPYRIGHT -->
        <div class="copyright">
            <div class="end-text">
                <p>&copy; CopyRight 2024 By <a href="https://github.com/d3vluz/TechGreen">Techgreen</a></p>
            </div> <!-- Fim end-text -->
        </div> <!-- Fim copyright -->
    </footer>
    
    <script src="/javascripts/contactscript.js"></script>
</body>
</html>