<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Estilos -->
        <link rel="stylesheet" href="/stylesheets/item.css">
        <link rel="stylesheet" href="/stylesheets/responsividade/item-responsive.css"> <!-- Responsivo -->
        <link rel="shortcut icon" href="/imagens/favicon.png" type="image/x-icon">
        <!-- f Estilos -->
        <!-- Box Icons -->
        <link rel="stylesheet"
         href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <!-- f Box Icons -->
        <!-- Remix Icons -->
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"/>
        <title>TechGreen</title>
        <!-- f Remix Icons -->
    </head>
<body>
    <!-- HEADER -->
    <header>
        <a href="/home" class="logo">Tech<span>Green</span></a>

        <nav class="navlist">
            <li><a href="/home">Home</a></li>
            <li><a href="/shoppage" class="ativo">Comprar</a></li>
            <li><a href="/aboutpage">Sobre</a></li>
            <li><a href="/blogpage">Blog</a></li>
            <li><a href="/contactpage">Contato</a></li>
        </nav>

        <div class="nav-right">
            <a href="#"><i class="ri-search-line"></i></a>
            <a href="/cartpage"><i class="ri-shopping-cart-2-line"></i></a>
            <a href="/perfil"><i class="ri-user-line"></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div> <!-- Fim nav-right -->

        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/perfil">Perfil</a>
            <a href="/home">Home</a>
            <a href="/shoppage">Comprar</a>
            <a href="/aboutpage">Sobre</a></li>
            <a href="/blogpage">Blog</a>
            <a href="/contactpage">Contato</a>
        </div> <!--sidebar-->

        <button class="openbtn" onclick="openNav()">☰</button> <!--NavButton-->   
    </header>

    <main>
        <section id= "product-details" class="section-product">
            <div class="single-item-image">
                <img src="../public/images/bg.jpg" width= "100%" id="MainImg" alt="">

                <div class="small-image-group">
                    <div class="small-img-col">
                        <img src="../public/images/bg.jpg" width="100%" class="small-img" alt="">
                    </div> <!-- F small-image-col -->

                    <div class="small-img-col">
                        <img src="../public/images/bg.jpg" width="100%" class="small-img" alt="">
                    </div> <!-- F small-image-col -->

                    <div class="small-img-col">
                        <img src="../public/images/bg.jpg" width="100%" class="small-img" alt="">
                    </div> <!-- F small-image-col -->
                    <div class="small-img-col">
                        <img src="../public/images/bg.jpg" width="100%" class="small-img" alt="">
                    </div> <!-- F small-image-col -->
                </div> <!-- F small-image-group -->
            </div> <!-- F single-item-image -->

            <div class="single-item-details">
                <h6>Categoria</h6>
                <h4>Nome do Item</h4>
                <h2>Preço</h2>
                <select>
                    <option>Selecione a Cor</option>
                    <option>Vermelho</option>
                    <option>Preto</option>
                    <option>Branco</option>
                    <option>Azul</option>
                    <option>Verde</option>
                </select>
                <input type="number" value="1">
                <button>Adicione ao Carrinho</button>
                <h4>Detalhes do produto</h4>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem, repellat doloribus ipsa fugit minima cumque sint hic dicta quisquam quam. Quas inventore, nam repellendus magni vitae autem est necessitatibus ducimus!</span>
            </div>
        </section>

        <div class="n-produtos">
            <div class="text-n-produtos">
                <h2>Produtos relacionados</h2>
                <p>Ache extamente o que procura!</p>
            </div>
            <div class="n-conteudo">
                    <!-- n1 -->
                <div class="row">
                    <div class="row-img">
                        <img src="../public/images/bg.jpg" alt="#">
                    </div> <!-- Fim row-img -->

                    <h3>Camiseta Listrada</h3> <!-- NOME PRODUTO -->
                    
                    
                    <div class="row-in">
                        <div class="row-left">
                            <a href="#">
                                Adicione ao carrinho
                                <i class="ri-shopping-cart-2-line"></i>
                            </a>
                        </div> <!-- Fim row-left -->

                        <div class="row-right">
                            <h6>R$ 79,99</h6>
                        </div> <!-- Fim row-right -->
                    </div> <!-- Fim row-in -->
                </div> <!-- Fim row -->

                    <!-- n2 -->
                <div class="row">
                    <div class="row-img">
                        <img src="../public/images/bg.jpg" alt="#">
                    </div> <!-- Fim row-img -->

                    <h3>Calça Jeans</h3> <!-- NOME PRODUTO -->

                    <div class="row-in">
                        <div class="row-left">
                            <a href="#">
                                Adicione ao carrinho
                                <i class="ri-shopping-cart-2-line"></i>
                            </a>
                        </div> <!-- Fim row-left -->

                        <div class="row-right">
                            <h6>R$ 109,99</h6>
                        </div> <!-- Fim row-right -->
                    </div> <!-- Fim row-in -->
                </div> <!-- Fim row -->

                    <!-- n3 -->
                <div class="row">
                    <div class="row-img">
                        <img src="../public/images/bg.jpg" alt="#">
                    </div> <!-- Fim row-img -->

                    <h3>Camisa Xadrez</h3> <!-- NOME PRODUTO -->

                    <div class="row-in">
                        <div class="row-left">
                            <a href="#">
                                Adicione ao carrinho
                                <i class="ri-shopping-cart-2-line"></i>
                            </a>
                        </div> <!-- Fim row-left -->

                        <div class="row-right">
                            <h6>R$ 97,99</h6>
                        </div> <!-- Fim row-right -->
                    </div> <!-- Fim row-in -->
                </div> <!-- Fim row -->

                    <!-- n4 -->
                <div class="row">
                    <div class="row-img">
                        <img src="../public/images/bg.jpg" alt="#">
                    </div> <!-- Fim row-img -->

                    <h3>Camisa de marca</h3> <!-- NOME PRODUTO -->

                    <div class="row-in">
                        <div class="row-left">
                            <a href="#">
                                Adicione ao carrinho
                                <i class="ri-shopping-cart-2-line"></i>
                            </a>
                        </div> <!-- Fim row-left -->
                        <div class="row-right">
                            <h6>R$ 69,99</h6>
                        </div> <!-- Fim row-right -->
                    </div> <!-- Fim row-in -->
                </div> <!-- Fim row -->
        </div> <!-- Fim n-produtos -->
    </main>
    
    <footer>
        <section class="footer">
            <div class="footer-box">
                <h3>Sobre</h3>
                <a href="/aboutpage">Sobre Nós</a>
                <a href="#">Entrega</a>
                <a href="#">Privacidade</a>
                <a href="#">Termos</a>
            </div> <!-- Fim footer-box -->

            <div class="footer-box">
                <h3>Conta</h3>
                <a href="/perfil">Entrar</a>
                <a href="/loginpage">Cadastrar</a>
                <a href="#">Carrinho</a>
                <a href="#">Ajuda</a>
            </div> <!-- Fim footer-box -->

            <div class="footer-box">
                <h3>Resources</h3>
                <a href="/home">Início</a>
                <a href="/blogpage">Blog</a>
                <a href="/contactpage">Contato</a>
                <a href="/shoppage">Comprar</a>
            </div> <!-- Fim footer-box -->

            <div class="footer-box">
                <h3>Social</h3>
                <div class="social">
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-facebook-box-fill"></i></a>
                    <a href="#"><i class="ri-twitter-x-fill"></i></a>
                </div> <!-- Fim social -->
            </div> <!-- Fim footer-box -->
        </section> <!-- Fim footer -->

        <!-- COPYRIGHT -->
        <div class="copyright">
            <div class="end-text">
                <p>&copy; CopyRight 2024 By <a href="https://github.com/d3vluz/TechGreen" target="">Techgreen</a></p>
            </div> <!-- Fim end-text -->
        </div> <!-- Fim copyright -->
    </footer>

    <script>
        var MainImg = document.getElementById("MainImg")
        var smallimg = document.getElementsByClassName("small-img")

        smallimg[0].onclick = function(){
            MainImg.src = smallimg[0].src
        }
        smallimg[1].onclick = function(){
            MainImg.src = smallimg[1].src
        }
        smallimg[2].onclick = function(){
            MainImg.src = smallimg[2].src
        }
        smallimg[3].onclick = function(){
            MainImg.src = smallimg[3].src
        }
    </script>
</body>
</html>