@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins",sans-serif;
}

:root{
    --bg-color: #ffffff;
    --text-color: #181818;
    --main-color: #f0f0f0;
    --second-color: #616060; 
    --theme-color: #099209;

    --primary-color: #181818;

    --btn-color: #181818;

    --h1-font: 4.0rem;
    --h2-font: 3.0rem;
    --p-font: 1rem;
}

/* CONFIGURAÇÕES GLOBAIS */

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    padding: 90px 14% 70px;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 5%);
    padding: 18px 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .6s;
}

.logo{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-color);

    & > span{
        color: green;
    }
}

.navlist{
    display:flex;


    & li {
        position: relative;

        & a{
            display: inline-block;
            margin: 0 20px;
            font-size: var(--p-font);
            font-weight: 500;
            color: var(--text-color);
            transition: all .4s;
    
            &:hover,
            &.ativo{
                color: var(--theme-color);
    
                &::after{
                    content: "";
                    width: 30%;
                    height: 2px;
                    background: var(--theme-color);
                    position: absolute;
                    bottom: -2px;
                    left: 20px;
                }
            }
        }
    }
}

.nav-right{
    display: flex;
    align-items: center;

    & a{
        display: inline-block;
        font-size: 22px;
        color: var(--text-color);
        margin: 0 20px;
        transition: all .6s;

        &:hover{
            transform: translateY(-5px) scale(1.1);
        }
    }
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}

.openbtn {
    font-size: 30px;
    display: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--btn-color);
    border: none;
    border-radius: 20%;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px; 

    & a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    & .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

        /* PÁGINA SOBRE */
/* SECTION ABOUT */
.about{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../imagens/bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about-text{
    padding-top: 60px;
    & h3{
        font-size: var(--h1-font);
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    & p{
        width: 100%;
        max-width: 560px;
        font-size: var(--p-font);
        font-weight: 400;
        color: var(--second-color);
        line-height: 33px;
        margin-bottom: 35px;
    }
}

/* SECTION MAIN */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    padding: 80px 50px;
}

.main-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 50px;
    align-items: center;
}

.main-box-text {
    min-width: 460px;
    & h2 {
        font-size: var(--h2-font);
        color: var(--text-color); 
    }
    
    & p {
        font-size: var(--p-font);
        color: var(--text-color); 
        line-height: 33px;
        margin-top: 35px;
    }
}



.main-box-image img {
    width: 100%; 
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.main-box-image {
    transform: rotate(-2deg);
}

.main-box:nth-child(even) .main-box-image {
    transform: rotate(5deg);
}


 /*NOSSOS SERVIÇOS*/

.box-low{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.low-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & h2 {
        font-size: var(--h2-font);
        color: var(--text-color);
    }
}

.box-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 2rem 5rem;
    justify-content: center;
}

.service-template {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
}

.service-template-image {
    width: 30%;
    max-height: 200px;
}

.service-template-image img {
    background-color: #ddd;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.service-template-text {
    text-align: start;
}

/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 2rem;
}

.footer-box {
    display: flex;
    flex-direction: column;

    & h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    & a {
        color: var(--second-color);
        margin-bottom: 0.8rem;
        transition: all 0.5s ease;

        &:hover {
            transform: translateX(-5px);
            color: var(--text-color);
        }
    }
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 17px;
    border-radius: 10px;
    margin-right: 14px;
    transition: transform 0.6s;

    &:hover {
        transform: rotate3d(0, 0.5, 0, 360deg) scale(1.06);
        color: var(--bg-color);
    }
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 14% 20px;
}

.end-text p {
    font-size: 15px;

    & a {
        color: var(--text-color);
        cursor: pointer;
        transition: all 0.6s;

        &:hover {
            text-decoration: underline;
            color: #099209;
        }
    }
}

    /*RESPONSIVIDADE*/
/*SECTION MAIN*/
@media (max-width: 999px) {

    .main {
        gap: 90px;
    }

    .main-box {
        grid-template-columns: 1fr; 
        gap: 50px;
    }

    .main-box:nth-child(2) .text-one,
    .main-box:nth-child(1) .image-one {
        order: 1; 
    }

    .main-box-text {
        min-width: auto;
        text-align: center;
        & h2 {
            font-size: 2.5rem;
            color: var(--text-color); 
        }
        
        & p {
            font-size: var(--p-font);
            color: var(--text-color); 
            line-height: 33px;
            margin-top: 35px;
        }
    }

    .main-box-image img {
        width: 80%; 
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1299px) {

    .main-box {
        grid-template-columns: 600px 600px; 
        gap: 0px 50px; 
    }

}
