@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins",sans-serif;
}

:root{
    --bg-color: #ffffff;
    --text-color: #181818;
    --main-color: #f0f0f0;
    --second-color: #616060; 
    --theme-color: #099209;

    --primary-color: #181818;

    --btn-color: #181818;

    --h1-font: 4.0rem;
    --h2-font: 3.0rem;
    --p-font: 1rem;
}

/* CONFIGURAÇÕES GLOBAIS */

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    padding: 90px 14% 70px;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 5%);
    padding: 18px 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .6s;
}

.logo{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--text-color);

    & > span{
        color: green;
    }
}

.navlist{
    display:flex;


    & li {
        position: relative;

        & a{
            display: inline-block;
            margin: 0 20px;
            font-size: var(--p-font);
            font-weight: 500;
            color: var(--text-color);
            transition: all .4s;
    
            &:hover,
            &.ativo{
                color: var(--theme-color);
    
                &::after{
                    content: "";
                    width: 30%;
                    height: 2px;
                    background: var(--theme-color);
                    position: absolute;
                    bottom: -2px;
                    left: 20px;
                }
            }
        }
    }
}

.nav-right{
    display: flex;
    align-items: center;

    & a{
        display: inline-block;
        font-size: 22px;
        color: var(--text-color);
        margin: 0 20px;
        transition: all .6s;

        &:hover{
            transform: translateY(-5px) scale(1.1);
        }
    }
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}

.openbtn {
    font-size: 30px;
    display: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--btn-color);
    border: none;
    border-radius: 20%;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    & a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    & .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}


    /* PÁGINA CONTATO */
/* SECTION LOCALIDADE */
.localidade{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;

    & .localidade-texto{
        width: 40%;

        & h6{
            font-size: 12px;
            font-weight: 500;
            color: var(--second-color);
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    
        & h1{
            font-size: 2rem;
            font-weight: 700;
            line-height: 35px;
            margin-bottom: 20px;
        }
    
        & h2{
            font: 16px;
            font-weight: 600;
            letter-spacing: 2px;
            color: #181818;
            margin-bottom: 15px;
        }
    
        & .sede-detalhes{
            display: flex;
            align-items: center;
            padding: 10px 0;
    
            & i{
                color: black;
                font-size: 14px;
                padding-right: 22px;
            }
    
            & p{
                color: #616060;
                cursor: pointer;
                font-size: 14px;
            }
        }
    }

    & .localidade-mapa{
        width: 55%;
        height: 350px;

        & iframe{
            width: 100%;
            height: 100%;
        }
    }
}

/* SECTION EQUIPE */
.form-contato{
    display: flex;
    justify-content: space-between;
    margin: 70px 14%;
    padding: 80px;
    border: 1px solid #e1e1e1e1;

    & form{
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & h6{
            font-size: 12px;
            font-weight: 500;
            color: var(--second-color);
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        & h2{
            font: 16px;
            font-weight: 600;
            color: #181818;
            margin-bottom: 15px;
        }

        & input,textarea{
            width: 100%;
            padding: 12px 15px;
            outline: none;
            margin-bottom: 20px;
            border: 1px solid #e1e1e1;
        }

        & button{
            background-color: #2a892a;
            color: #fafafa;
            cursor: pointer;
            width: 100px;
            padding: 10px 0;
            border: 2px #2a892a;
            border-radius: 5px;
            font-weight: 700;
            transition: all .3s;

            &:hover{
                background-color: #fafafa;
                color: #2a892a;
                border: 2px solid #2a892a;

                & > p{
                    transform: scale(1.1);
                }
            }
        }
    }

    & .pessoas{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 25px;
        padding: 0 20px;

        & .pessoa{
            display: flex;
            margin-bottom: 15px;

            & img{
                width: 75px;
                height: 75px;
                object-fit: cover;
                margin-right: 15px;
            }
    
            & p{
                font-size: 13px;
                line-height: 25px;
                color: var(--second-color);
    
                & > span{
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

        /* PÁGINA BLOG */
    /* BLOG SECTION */
.blog{
    & .blog-box{
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        margin: 100px 0;

        & .blog-img{
            width: 40%;
            margin-right: 40px;

            & img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }

        & h1{
            position: absolute;
            top: -60px;
            left: 00;
            font-size: 60px;
            font-weight: 700;
            color: #c9cbce;
            z-index: -10;
        }
    }
}

.blog-detalhes{
    width: 50%;

    & a{
        font-size: 11px;
        column-rule-color: black;
        font-weight: 700;
        position: relative;
        transition: all .6s;

        &:hover{
            color: red;

            &::after{
                background-color: red;
            }
        }

        &::after{
            content: "";
            width: 50px;
            height: 2px;
            background-color: black;
            position: absolute;
            top: 7px;
            right: -60px;
        }
    }
}

/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 2rem;
}

.footer-box {
    display: flex;
    flex-direction: column;

    & h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    & a {
        color: var(--second-color);
        margin-bottom: 0.8rem;
        transition: all 0.5s ease;

        &:hover {
            transform: translateX(-5px);
            color: var(--text-color);
        }
    }
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 17px;
    border-radius: 10px;
    margin-right: 14px;
    transition: transform 0.6s;

    &:hover {
        transform: rotate3d(0, 0.5, 0, 360deg) scale(1.06);
        color: var(--bg-color);
    }
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 14% 20px;
}

.end-text p {
    font-size: 15px;

    & a {
        color: var(--text-color);
        cursor: pointer;
        transition: all 0.6s;

        &:hover {
            text-decoration: underline;
            color: #099209;
        }
    }
}

/* RESPONSIVO */

/*NAVBAR*/
@media screen and (max-width: 1300px){
    .openbtn {
        display: block;
    }
    .navlist {
        display: none;
    }
    .nav-right {
        display: none;
    }
}

/* FOOTER */
@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr; 
        justify-content: center;
    }

    .footer-box {
        text-align: center; 
        margin-bottom: 2rem; 
    }
}